<div class="players-list mt-3">
  <div class="d-flex flex-wrap gap-4 justify-content-center">
    <% party.party_players.each do |player| %>
      <div class="player-item text-center">
        <%= image_tag "avatars/#{player.user.avatar}",
            class: "avatar-img",
            style: "width: 70px; height: 70px; border-radius: 50%; object-fit: cover;" %>
        <div class="username mb-0"><%= player.user.username %></div>
      </div>
    <% end %>
  </div>
</div>
