<div class="container-fluid-show-parties d-flex flex-column justify-content-around">
  <% if @party.start == false && current_or_guest_user == @party.admin %>
    <!-- Top section -->
    <div class="text-center">
      <div class="mx-auto custom-box">
        <h1><%= @party.party_code %></h1>
      </div>
    </div>
    <!-- Middle section -->
    <div class="text-center">
      <h3>Players</h3>
      <p class="h2 mt-3"><%= @party.party_players.count %></p>
    </div>
    <!-- Bottom section -->
    <div class="text-center" id="start-game-button">
      <%= link_to "Start game",
          start_party_path(@party),
          method: :put,
          class: "btn button-orange shadow fw-bold",
          style: "width: 100%;",
          data: { turbo_method: :put } %>
    </div>
  <% end %>
  <% if @party.start == true %>
    <div class="text-center">
      <h2>Party already started!</h2>
    </div>
  <% end %>
</div>
