


<% if @party.start == false && current_or_guest_user == @party.admin %>
  <h1><%= @party.party_code %></h1>

  <p><%= @party.party_players.count %></p>
  <div id="start-game-button">
    <%= link_to "Start game", start_party_path(@party), method: :put, class: "btn btn-primary",
        data: { turbo_method: :put } %>
  </div>
<% end %>


<% if @party.start == true %>
  <h2>Party already started!</h2>
<% end %>
