<h1><%= @party.party_code %></h1>

<p><%= @party.party_players.count %></p>

<% if @party.start == false && current_or_guest_user == @party.admin %>
  <%= link_to "Start game", party_swipes_path(@party), method: :put, class: "btn btn-primary" %>
<% end %>
