.container-fluid-show-parties {
  min-height: 100vh;
  background: white;
  color: black;
  margin: 40px;
}

.custom-box {
  background-color: #F66426;
  border: 2px solid black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 80px;
  border-radius: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 55px;

  h1 {
    color: white;
  }

  .btn-share {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
      color: black;
    }
  }
}

.btn-lg {
  padding: 12px 30px;
  font-size: 1.2rem;
}

#start-game-button {
  margin-bottom: 20px;
}

.players-list {
  margin-bottom: 100px;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
}

.player-item h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
}

.count-players {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 32px;
}

.button-orange-start {
  background: #F66426;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 32px;
  font-family: "Archivo", sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}

.back-settings {
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}

.username {
  font-size: 12px;
  font-weight: 700;
}

.scrollable-players {
  overflow-y: auto;
  max-height: 350px;
  padding-bottom: 16px;
  margin-bottom: 16px;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.players-list .d-flex {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 1rem;
}

.player-item {
  text-align: center;
  width: 100%;
}
