<%# <div  data-controller="swiper" class="swiper swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide card" data-item-id="1">
      <div class="card-body">
        <h5 class="card-title">Film Title 1</h5>
        <p class="card-text">Description of the movie or item goes here.</p>
      </div>
    </div>
    <div class="swiper-slide card" data-item-id="2">
      <div class="card-body">
        <h5 class="card-title">Film Title 2</h5>
        <p class="card-text">Description of the movie or item goes here.</p>
      </div>
    </div>
    <div class="swiper-slide card" data-item-id="3">
      <div class="card-body">
        <h5 class="card-title">Film Title 3</h5>
        <p class="card-text">Description of the movie or item goes here.</p>
      </div>
    </div>
  </div>
</div> %>


<div data-controller="swiper">
  <div class="swiper" data-swiper-target="container m-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="<%= asset_path('logo-test.jpeg') %>" alt="Slide 1">
      </div>
      <div class="swiper-slide">
        <img src="<%= asset_path('logo-test.jpeg') %>" alt="Slide 2">
      </div>
      <div class="swiper-slide">
        <img src="<%= asset_path('logo-test.jpeg') %>" alt="Slide 3">
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="swiper-pagination" data-swiper-target="pagination"></div>

  <!-- Navigation -->
  <div class="swiper-button-prev" data-swiper-target="prevButton"></div>
  <div class="swiper-button-next" data-swiper-target="nextButton"></div>
</div>


