<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; color: white;">
  <div class="row text-center w-100">
    <div class="col-12">

      <h3 class="mb-4" style="font-weight: 700; letter-spacing: 1px; font-size: 2rem;">Choose a username</h3>


      <div class="input-group d-flex flex-column align-items-center w-100">
        <%= simple_form_for current_or_guest_user do |f| %>
          <%= f.input :username,
            input_html: {
              class: "form-control rounded-pill mb-4 bg-transparent text-black shadow",
              placeholder: "Enter your username"
            },
            label: false
          %>
          <%= f.submit "Continue as a guest",
            class: "btn button-orange shadow mb-4 w-100 fw-bold"
          %>
        <% end %>
      </div>

      <div class="border-top-black mb-4">
      </div>
      <div class="row justify-content-center w-100">
        <div class="col-12 mb-4">
          <button class="btn button-orange shadow w-100 fw-bold">Log in</button>
        </div>
        <div class="col-12">
          <button class="btn button-orange shadow w-100 fw-bold">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</div>
