<div class="container d-flex">
  <%# <div class="row">
    <p>LOGO</p>
  </div> %>

  <div class="row">
    <div>
      <h2>Choisissez un pseudo</h2>
      <p>blablabla</p>
    </div>

    <div>
      <button class="btn">Se connecter</button>
    </div>

  </div>



</div>
