.button-orange {
  background: #F66426;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 32px;
  font-family: "Archivo", sans-serif;
}

.border-top-black {
  width: 50%; /* Adjust the width to be less than 100% (the width of the buttons) */
  border-top: 1px solid rgba(0, 0, 0, 0.2); /* Black border with reduced opacity */
  margin: 0 auto;
}

.accordion-button:not(.collapsed) {
  background-color: #F66426; /* Orange background */
  color: white; /* Text color */
  border-color: #F66426; /* Border color */
}

.accordion-button:not(.collapsed)::after {
  filter: invert(1); /* Invert the color of the arrow to make it white */
}
