.custom-box {
  background-color: #F66426; /* Couleur de fond */
  border: 2px solid black;   /* Bordure grise */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  border-radius: 32px;
  color: white;
}
